/* Navbar text color */
.nav-green {
  color: #1c331c;
}

/* Custom margin between navbar and banner */
.mt-83 {
  margin-top: 83px;
}

/* Banner backgound */
.banner {
  background-image: url("https://images.unsplash.com/photo-1501430654243-c934cec2e1c0?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
}
.banner-img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
}
.banner-img-lg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}



/* Media queries */
@media only screen and (max-width: 600px) {
  .banner-img-div > div > p {
    display: none;
  }
  .banner-img-lg {
    width: 100px;
    height: 100px;
  }
  .banner-img {
    width: 50px;
    height: 50px;
  }
}
